#myModal{
	position:alsoute;
	top:100px;
}
#myModal2{
	position:alsoute;
	top:100px;
}
#moTaiBackground{
	width:40%;
	height:400px;
	margin:0 auto;
	border-radius:20px;
	background:linear-gradient(to right bottom, hsl(236, 50%, 50%), hsl(195, 85%, 49%));
}
#topMessage{
	color:white;
	width:90%;
	height:180px;
	text-align:center;
	margin:0 auto;
	padding-top:10px;
	border-bottom:1px solid hsla(0, 0%, 100%, .4);
}
#moTaiBackground .glyphicon{
	color:white;
	width:40px;
	height:40px;
	border-radius:50%;
	text-align:center;
	line-height:3em;
	position:relative;
	top:14px;
	left:560px;
	font-weight:normal;
	border:1px solid hsla(0, 0%, 100%, .4);
}
#moTaiBackground .glyphicon:hover{
	color:#c40000;
}
#topMessage p{
	padding-top:30px;
	font-style:italic;
	font-size:18px;
}
#buttomMessage{
	width:90%;
	height:160px;
	text-align:center;
	margin:0 auto;
	margin-top:20px;
}
#inputDiv input{
	width:40%;
	height:40px;
}
#inputDiv button{
	width:20%;
	height:40px;
	font-size:18px;
	border:3px;
}