#background{
	width:96%;
	margin:0 auto;
	border:solid 1px #f5f5f5;
}
#topNavigation{
	font-size:18px;
}
#topNavigation a:hover{
	text-decoration:none;
}
#tableDiv table{
	width:60%;
	text-align:center;
	margin:0 auto;
}
#tableDiv table td{
	font-size:18px;
	height:40px;
}
#tableDiv table button{
	width:100px;
	font-size:16px;
	border:3px solid;
}
#tableDiv table button:hover{
	width:100px;
	font-size:18px;
	border:3px solid;
}