#background{
	width:96%;
	height:1000px;
	margin:0 auto;

}
#background #categoryManager{
	width:100%;
	height:50px;
	padding-top:10px;
}
#background #categoryManagerTopSpan{
	display:block;
	margin-top:10px;
	color:#5bc0de;
	font-weight:bold;
	font-size:18px;
	height:26px;
	width:96px;
	background:#5bc0de;
	text-align:center;
	color:white;
	border-radius:50px;
}
#background #tableDiv table thead{
	font-size:18px;
	font-weight:bold;
	line-height:2em;
}
#background #tableDiv table td{
	height:40px;
	text-align:center;
}
#background #tableDiv table td span{
	font-size:18px;
	line-height:2em;
}
#background #tableDiv table td a:hover{
	text-decoration:none;
	color:#c40000;
}
#background #fenYe{
	text-align:center;
}
