*{
	margin:0;
}
#background{
	width:100%;
	height:920px;
}
#background #pictureAndMessage{
	width:80%;
	height:840px;
	margin:0 auto;
	margin-top:20px;
}
#background #picture{
	border:1px solid #e7e7e7;
	width:428px;
	height:428px;
	text-align:center;
	float:left;
}
#background #picture img{
	width:400px;
	height:400px;
	margin:10px 10px;
}
#background #message{
	border:1px solid #e7e7e7;
	width:660px;
	height:428px;
	float:left;
	background:white;
	padding-left:20px;
	border:1px solid #d1ccc8;
}
#background #messageName{
	width:100%;
	height:50px;
	margin-top:10px;
	color:black;
	font-size:16px;
	font-weight:bold;
}
#background #detailMessage table{
	font-size:12px;
	color:#999999;
}
#background .redFont{
	color:#c40000;
	font-size:20px;
	font-weight:bold;
}
#background #orderMessage img{
	display:inline-block;
	position:relative;
	top:-7px;
	left:0px;
}
#background #imageTips{
	font-size:12px;
	display:inline-block;
	position:relative;
	top:2px;
	left:0px;
}
#background #ordermessageInner{
	display:block;
	margin:0 auto;
	margin-top:30px;
	border:1px solid #efefef;
	width:230px;
	height:38px;
	background:#fdfbfa;
}
#background #orderMessage{
	margin-top:20px;
	padding-top:20px;
	width:600px;
	height:200px;
	background:#fdfbfa;
	border:1px solid #f6f6f3;
}
#background #review{
	margin-top:30px;
	border-top:6px solid #c40000;
	width:200px;
	height:40px;
	background:#efefef;
	font-size:14px;
	font-weight:bold;
	line-height:3em;
	text-align:center;
}
#background #review span{
	color:#284ca5;
}
#background #reviewButton{
	height:5px;
	width:100%;
	background:#efefef;
}
#background #first{
	width:100%;
	height:300px;
	background:#efefef;
	margin-top:20px;
	border-left:1px solid #d1ccc8;
	border-right:1px solid #d1ccc8;
	border-top:1px solid #d1ccc8;
}
#background #tips{
	width:300px;
	height:30px;
	background:#efefef;
	margin-top:20px;
	margin-left:40px;
	font-size:18px;
	font-weight:bold;
}
#background #inputReview{
	width:550px;
	height:160px;
	margin-top:40px;
	margin-left:40px;
	background:white;
}
#background #inputReviewLeft{
	height:160px;
	width:80px;
	float:left;
	text-align:center;
	line-height:10em;
	border-right:1px solid #efefef;
	font-size:16px;
}
#background #inputReviewRight textarea{
	border-width:0px;
	/*设置不可改变大小*/
	resize:none;
	width:420px;
	height:120px;
	margin-left:20px;
	margin-top:20px;
	border:1px solid #efefef;
}
#background #second{
	width:100%;
	height:70px;
	border:1px solid #d1ccc8;
}
#background #second input{
	margin-top:20px;
	background:#c40000;
	border:none;
	width:72px;
	height:30px;
	color:white;
	font-weight:bold;
	border-radius:2px;
	font-size:12px;
}

#background #evaluation {
	margin-top:20px;
	display: none;
	width: 100%;
	font-family: Arial;
}

#background #evaluation .comments {
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
}

#background #evaluation .comments-left {
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
	color: #cccccc;
}

#background #evaluation .comments-right {
	display: inline-block;
	float: right;
	margin-right: 30px;
	color: #404040;
	margin-top: 20px;
}