#picture{
	margin:20px auto;
}
#addressTop{
	color:#333333;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	margin:0 auto;
	margin-bottom:50px;
	width:60%;
}
#message table{
	margin:20px 20px;
	text-align:left;
	font-size:12px;
}
#message table td{
	color:#333333;
	text-align:left;
	vertical-align:top;/*垂直居顶*/
	padding-right:40px;
	height:30px;
}
#message td textarea{
	border:1px solid #afafaf;
	margin-bottom:10px;
	width:200px;
}
#message td input{
	border:1px solid #afafaf;
	width:200px;
}
#message td .redStar{
	color:red;
	font-size:8px;
}

#confirmOrder{
	color:#333333;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	margin:0 auto;
	margin-bottom:30px;
	width:100%;
	width:60%;
}
#orderMessage{
	width:100%;
	border-collapse:separate;/*边框折叠*/
	font-size:12px;
}
#orderMessage th{
	color:#999999;
	font-family:宋体;
	font-weight:normal;
	font-size:12px;
	text-align:center;
	padding-bottom:5px;
}
#orderMessage th{
	background:#fff;
	border-bottom:3px solid #b2d1ff;
	border-right:3px solid #fff;
	height:3px;
}
#tmallbuy{
	width:15px;
}
a.marketLink{
	color:black;
	font-size:12px;
	font-family:宋体;
	font-size:normal;
}
.wangwangGif{
	background-image:url(/SSMTmall/image/anotherPage/wangwang.gif);
	/*设置background-image要设置height和width和block属性才能有效果*/
	width:25px;
	height:20px;
	display:inline-block;
	background-repeat:no-repeat;/*背景图片无重复*/
	background-attachment:scroll;/*滚动背景图片*/
	background-position:-80px 0px;
	/*这是设置背景图片往25px，20px那个矩形移动的*/
}
#orderMessage tbody .orderPic{
	width:50px;
	height:50px;
	border:1px solid #e9e9e9;
}
#orderMessage tbody .detailOrder{
	display:inline-block;
}
#orderMessage tbody td{
	border-bottom:1px solid #e5e5e5;
	padding:10px 0px;
	text-align:center;
}
.orderProductInfo{
	height:16px;
}
.orderUnitSum{
	color:#cc0000;
	font-weight:bold;
}
.littlePic{
	float:left;
	margin-top:2px;
}
#orderMessage label{
	color:#666666;
	font-family:宋体;
	font-size:12px;
	font-weight:normal;
}
#orderMessage select{
	width:100px;
	height:23px;
}
#leavingMessage{
	padding:12px;
	border-top:2px solid #b4d0ff;
	background:#f2f6ff;
	color:#999999;
	margin:0 auto;
	width:60%;
}
#showNone{
	position:relative;
	left:80px;
	top:-23px;
	display:none;
}
#leavePic:hover{
	cursor:pointer;/*设置鼠标样式*/
}
#showNone textarea{
	width:250px;
	border:1px solid orange;
}
.flowright{
	float:right;
	margin-right:20px;
}
#realLeavingMessage{
	margin:40px;
	height:40px;
	width:60%;
	margin:0 auto;
	margin-bottom:60px;
}
#money{
	color:#c40000;
	font-size:22px;
	font-weight:bold;
}
#realLeavingMessage button{
	border:1px solid #c40000;
	background:#c40000;
	text-align:center;
	font-size:14px;
	line-height:40px;/*line-height也是一种设置字体垂直居中的方法*/
	font-size:14px;
	font-weight:700;
	color:white;
	float:right;
	display:inline-block;
	width:180px;
	height:40px;
	margin-top:10px;
}