#footOne {
	width: 100%;
	height: 410px;
	margin-top: 10px;
}

#footOne #son1 {
	width: 100%;
	height: 180px;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

#footOne #son1 img {
	padding-top: 40px;
}

#footOne .a {
	width: 200px;
	height: 300px;
	float: left;
	margin-left: 12px;
	margin-top: 45px;
}

#footOne a{
	font-family: Arial;
	margin-top: 5px;
	color: #999;
	font-size: 12px;
	text-decoration:none;
}

#footOne a:hover {
	color: #c40000;
	text-decoration: none;
}

#footOne span {
	display: block;
	font-size: 1.3em;
	font-family: Arial;
	font-weight: bold;
}

#footOne #son2 div:first-child {
	margin-left: 280px;
}

#foootOne #son2 img {
	margin-top: 5px;
}