#parent {
	width: 100%;
	height: 140px;
}

#parent div p {
	display: inline;
	margin-left: 14px;
	font-family: Arial;
	color: #999;
}

#parent img {
	display: inline;
	position: absolute;
	top: 32px;
	left: 280px;
}

#parent span {
	display: inline;
	margin-left: 30px;
	color: #999;
}

#parent #search {
	padding-top: 50px;
	float: left;
	width: 500px;
	height: 100px;
	margin-left: 700px;
}

#parent #searching {
	width: 385px;
	height: 45px;
	background: #c40000;
}

#parent input {
	width: 275px;
	border: 1px solid #c40000;
	height: 35px;
	margin-left: 5px;
	color: #999;
	outline: none;
}

#parent button {
	border: 1px solid #c40000;
	display: inline;
	height: 40px;
	width: 100px;
	font-size: 20px;
	color: white;
	background: #c40000;
	outline: none;
}

#parent a {
	color: #999;
	text-decoration: none;
}

#parent a:hover {
	color: #c40000;
	text-decoration: none;
}