#myModal #tianmao {
	padding: 32px 0px;
}

#myModal #backgroundPic img {
	display: block;
	margin: 0 auto;
}

#myModal #warning{
	color: #3c3c3c;
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	line-height:30px;
	margin:0 auto;
	margin-top:-40px;
	margin-bottom:10px;
	width:300px;
	height:30px;
	background:#ebccd1;
	border-radius:10px;
	color:#a94442;
	visibility:hidden;
}

#myModal #logIn {
	background: white;
	width: 350px;
	height: 400px;
	position: absolute;
	right: 15%;
	top: 80px;
	padding: 60px 25px 80px 25px;
}

#myModal #title {
	color: #3c3c3c;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

#myModal #accountNumberGlyphicon {
	display: inline-block;
	width: 40px;
	height: 40px;
	float: left;
	background: #cbcbcb;
}

#myModal .glyphicon {
	font-size: 22px;
	color: #606060;
	line-height: 1.8em;
	margin-left: 10px;
}

#myModal #password {
	margin-top: 20px;
}

#myModal #passwordGlyphicon {
	display: inline-block;
	width: 40px;
	height: 40px;
	float: left;
	background: #cbcbcb;
}

#myModal #logIn input {
	height: 40px;
	width: 257px;
	text-align: center;
	font-size: 12px;
}

#myModal a {
	color: #999;
}

#myModal a:hover {
	text-decoration: none;
	color: #c40000;
}

#myModal #tis {
	margin-top: 20px;
}

#myModal #leftFlow {
	float: left;
}

#myModal #rightFlow {
	float: right;
}

#myModal #logIn button {
	color: white;
	background: #c40000;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}