#catear {
	position: absolute;
	height: 20px;
	top: 158px;
	left: 0px;
	display: none;
}

#headbar {
	background: #dd2727;
	width: 100%;
	height: 50px;
	font-size: 16px;
}

#headbar #left {
	background: #c60a0a;
	float: left;
	margin-left: 310px;
	width: 180px;
	height: 50px;
}

#left span {
	margin-top: 11px;
	font-weight: bold;
	color: white;
}

#right {
	float: right;
	margin-right: 500px;
	margin-top: 10px;
	position: absolute;
	right: 0px;
}

#right img {
	width: 100px;
	height: 30px;
}

#headbar span {
	margin-left: 20px;
}

#headbar a {
	color: white;
}

#headbar a:hover {
	text-decoration: none;
}

#picture {
	position: relative;
	left: 310px;
	top: 0px;
	width: 1000px;
	height: 500px;
}

#picture-background {
	background: #f2f2f2;
}

#picture img {
	width: 1100px;
	height: 500px;
}

#picture ol {
	padding-left: 200px;
}