#recommendedList {
	width: 62%;
	height: 6750px;
	background: #f5f5f5;
	margin-left: 22%;
	margin-top: 10px;
}

.recommend {
	width: 100%;
	height: 390px;
}

#recommendedList .sign {
	display: inline-block;
	width: 5px;
	height: 20px;
	background: #19c8a9;
	margin-top: 30px;
	margin-left: 10px;
}

#recommendedList .signName {
	display: inline-block;
	margin-left: 30px;
	font-size: 18px;
	font-weight: bold;
}

#recommendedList .signList img {
	width: 160px;
	height: 200px;
}

#recommendedList .signList span {
	display: inline-block;
	width: 160px;
	height: 300px;
}

#recommendedList .signList p {
	margin: 10px 15px;
	color: #666666;
}

#recommendedList .signList p:last-child {
	color: #ff003a;
	font-size: 16px;
	line-height: 10px;
}

#recommendedList .signList a {
	display: inline-block;
	margin-left: 15px;
	background: white;
	border: 2px solid #f5f5f5;
}

#recommendedList .signList a:hover {
	opacity: 0.5;
	outline: none;
	text-decoration: none;
	border-color: rgb(196, 0, 0);
}

#end {
	display: block;
	margin: 10px auto;
	width: 82px;
}