<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="dao.CategoryDao">
    	<select id="getCategoryById" parameterType="int" resultMap="CategoryBean">
    		select category.id categoryid,category.name categoryname,picture,product.id productid,product.name productname,subtitle,orignalprice,promoteprice,stock,product.createdate productcreatedate,salecount,fiveimage.id fiveimageid,littleimageuri,bigimageuri,review.id reviewid from category left join product on category.id = product.categoryid left join fiveimage on fiveimage.productid = product.id left join review on review.productid = product.id where category.id = #{id}
    	</select>
    	<resultMap type="pojo.Category" id="CategoryBean" autoMapping="true">
    		<id column="categoryid" property="id"/>
    		<result column="categoryname" property="name"/>
    		<collection property="products" ofType="pojo.Product" autoMapping="true">
    			<id column="productid" property="id"/>
    			<result column="productname" property="name"/>
    			<result column="productcreatedate" property="createDate"/>
    			<collection property="fiveImages" ofType="pojo.FiveImage" autoMapping="true">
    				<id column="fiveimageid" property="id"/>
    			</collection>
    			<collection property="reviews" ofType="pojo.Review" autoMapping="true" notNullColumn="reviewid">
    				<id column="reviewid" property="id"/>
    				<result column="reviewcreatedate" property="createDate"/>
    			</collection>
    		</collection>
    	</resultMap>
    	<select id="getAllCategoryForAdmin" resultType="pojo.Category">
    		select * from category
    	</select>
    	<select id="addCategoryForAdmin">
    		insert into category values(null,#{name},#{imageUrl})
    	</select>
    	<update id="updateCategoryForAdmin">
    		update category set name = #{name} where id = #{id}
    	</update>
    	<delete id="deleteCategoryByIdForAdmin" parameterType="int">
    		delete from category where id = #{id}
    	</delete>
    	<select id="getCategoryLocation" parameterType="int" resultType="int">
    		select count(*) from category where #{id} > id 
    	</select>
    	<select id="getCategoryByIdForAdmin" parameterType="int" resultType="pojo.Category">
    		select * from category where id = #{id}
    	</select>
    </mapper>