<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="dao.OrderItemDao">
    	<select id="getOrderItemByProductIdAndUserId" resultType="pojo.OrderItem">
    		select * from orderitem where productid = #{productId} and userid = #{userId} and orderid is null
    	</select>
    	<update id="updateOrderItem" parameterType="pojo.OrderItem">
    		update orderitem
    		<set>
    			<if test="number != null and number != ''">
    				number = #{number},
    			</if>
    			<if test="productId != null and productId != ''">
    				productid = #{productId},
    			</if>
    			<if test="orderId != null and orderId != ''">
    				orderid = #{orderId},
    			</if>
    			<if test="userId != null and userId != ''">
    				userId = #{userId}
    			</if>
    		</set>
    		where id = #{id}
    	</update>
    	<insert id="insertOrderItem" parameterType="pojo.OrderItem" useGeneratedKeys="true" keyProperty="id">
    		insert into orderItem values(null,#{number},#{productId},#{orderId},#{userId})
    	</insert>
    	<select id="getOrderItemByUserId" parameterType="int" resultType="pojo.OrderItem">
    		select * from orderitem where userid = #{userId} and orderid is null;
    	</select>
    	<select id="getOrderItemByOrderId" parameterType="int" resultType="pojo.OrderItem">
    		select * from orderitem where orderid = #{orderId}
    	</select>
    	<update id="updateNumberById">
    		update orderitem set number = #{number} where id = #{id}
    	</update>
    	<select id="getOrderItemById" parameterType="int" resultType="pojo.OrderItem">
    		select * from orderitem where id = #{id}
    	</select>
    	<delete id="deleteOrderItemById" parameterType="int">
    		delete from orderitem where id = #{id}
    	</delete>
    </mapper>